<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">
        <div id="navbar" class="row">
            {% include '@App/nav.html.twig' %}
        </div>
        <hr>
        <div class="row">
            {% if app.user %}
                <div class="col-md-3">
                    {{ include('@App/sidebar.html.twig') }}
                </div>
                <div class="col-md-9 main-body">
            {% else %}
                <div class="col-md-12 main-body">
            {% endif %}
                {% for msg in app.session.flashBag.get('success') %}
                <div class="row">
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                </div>
                {% endfor  %}
                {% for msg in app.session.flashBag.get('error') %}
                <div class="row">
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                </div>
                {% endfor  %}
                <div class="row">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
