{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-5">
            <h3><a href="{{ path('homepage') }}">NBA PLAY-OFF GAME!</a></h3>
        </div>
            {% if app.user %}
                <div class="col-md-3"></div>
                <div id="logged-in" class="col-md-4">
                    <span>Logged in as <strong>{{ app.user.username }}</strong></span>
                    <a href="{{ path('fos_user_security_logout') }}" id="logout-button" class="btn btn-success">Log out</a>
            {% else %}
                <div class="col-md-7">
                    <form id="login-form" class="form-inline" action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token is defined %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="form-group">
                            <input type="text" id="username" name="_username" placeholder="Username" required="required" />
                            <input type="password" id="password" name="_password" placeholder="Password" required="required" />
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me" class="text-success remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            <input type="submit" class="btn btn-success" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success">Register</a>
                        </div>
                    </form>
            {% endif %}
        </div>
    </div>
</div>
