{% extends '@App/base.html.twig' %}

{% block title %}NBA Play-Off{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            {% if leagues %}
                {% if is_granted('ROLE_ADMIN') %}
                    <h3>All leagues:</h3>
                {% else %}
                    <h3>Your leagues:</h3>
                {% endif %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>League</th>
                            <th>Position</th>
                            <th>Leader</th>
                            <th>Last counted pick</th>
                            <th>Next pick</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for league in leagues %}
                            <tr>
                                <td>{{ league.name }}</td>
                                <td>{{ positions[league.id] }}</td>
                                <td>
                                    {% if leaders[league.id] == null %}
                                        No leader yet!
                                    {% else %}
                                        {{ leaders[league.id] }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if lastPicks[league.id]['player'] == null %}
                                        No pick!
                                    {% else %}
                                        {{ lastPicks[league.id]['player'] }} ({{ lastPicks[league.id]['points'] }})
                                    {% endif %}
                                </td>
                                <td>
                                    {% if closePicks[league.id]['player'] == null %}
                                        No pick!
                                    {% else %}
                                        {{ closePicks[league.id]['player'] }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                You do not have any leagues!
            {% endif %}
        </div>
    </div>
{% endblock %}
