{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-offset-3 col-md-5">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <table class="table">
        <tr>
            <th class="col-md-5">E-mail</th>
            <td class="col-md-7">{{ form_widget(form.email, {"attr": {"class": "registration-input"}}) }}</td>
        </tr>
        <tr>
            <th class="col-md-5">Username</th>
            <td class="col-md-7">{{ form_widget(form.username, {"attr": {"class": "registration-input"}}) }}</td>
        </tr>
        <tr>
            <th class="col-md-5">Password</th>
            <td class="col-md-7">{{ form_widget(form.plainPassword.first, {"attr": {"class": "registration-input"}}) }}</td>
        </tr>
        <tr>
            <th class="col-md-5">Repeat Password</th>
            <td class="col-md-7">{{ form_widget(form.plainPassword.second, {"attr": {"class": "registration-input"}}) }}</td>
        </tr>
    </table>
    {{ form_rest(form) }}
    <div>
        <input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</div>