{% extends '@App/base.html.twig' %}

{% block title %}NBA Play-Off{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h2 class="text-center title">Add a new match</h2>
    <table class="table table-bordered">
        <thead>
            <tr class="text-center table-main">
                <td colspan="3">TEAMS</td>
            </tr>
            <tr>
                <td class="text-center table-title">Away Team</td>
                <td><p class="at">@</p></td>
                <td class="text-center table-title">Home Team</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="form-inline">
                    {{ form_errors(form.awayTeam) }}
                    {{ form_widget(form.awayTeam, {'attr': {'class': 'team-input form-control'}}) }}
                    <span>PTS:</span>
                    {{ form_errors(form.awayTeamPoints) }}
                    {{ form_widget(form.awayTeamPoints, {'attr': {'class': 'points-input'}}) }}
                </td>
                <td><p class="at">@</p></td>
                <td class="form-inline">
                    {{ form_errors(form.homeTeam) }}
                    {{ form_widget(form.homeTeam, {'attr': {'class': 'team-input form-control'}}) }}
                    <span>PTS:</span>
                    {{ form_errors(form.homeTeamPoints) }}
                    {{ form_widget(form.homeTeamPoints, {'attr': {'class': 'points-input'}}) }}
                </td>
            </tr>
        <tr>
            <td colspan="3" class="form-inline text-center">
                {{ form_row(form.date) }}
                {#{{ form_label(form.date, 'Date (ET)', {'label_attr': {'class': 'col-form-label'}}) }}#}
                {#{{ form_errors(form.date) }}#}
                {#{{ form_widget(form.date, {'attr': {'class': ''}}) }}#}
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-success center-block">Save</button>

    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <td>#</td>
            <td>Player</td>
            <td>Minutes</td>
            <td>Points</td>
            <td>Rebounds</td>
            <td>Assists</td>
            <td>Blocks</td>
            <td>Steals</td>
            <td>Turnovers</td>
        </tr>
        </thead>†
    </table>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    <script>
        jQuery(document).ready(function () {
            $('.js-datepicker').datetimepicker();
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/matchType.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}">
{% endblock %}