<h2 class="bg-success text-center leader">
    {{ dailyLeader.firstName }} {{ dailyLeader.lastName }} - {{ dailyLeader.total }} pts
</h2>
<h5 class="text-right">(pts + reb + ast)</h5>

<h3 class="text-center">Daily Leaders ({{ yesterday }} EST)</h3>
{% if dailyLeader is not null %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Stat</th>
                <th class="text-center">Player</th>
                <th class="text-center">Value</th>
            </tr>
        </thead>
        <tbody>
        {% for statName, data in dailyLeaders %}
            {% set appearance = true %}
            {% for id, details in data %}
                <tr>
                    {% if appearance %}
                        <td rowspan="{{ data|length }}" class="text-center">
                            <p {% if data|length > 1 %}class="statPadding"{% endif %}>
                                {{ statName|capitalize }}
                            </p>
                        </td>
                    {% endif %}
                    <td class="text-center">{{ details.player }}</td>
                    {% if appearance %}
                        <td rowspan="{{ data|length }}" class="text-center">
                            <p {% if data|length > 1 %}class="statPadding"{% endif %}>
                                {{ details.value }}
                            </p>
                        </td>
                        {% set appearance = false %}
                    {% endif %}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h4 class="text-center">No games yesterday (or no leaders)!</h4>
{% endif %}