<h2 class="text-center">Games (today)</h2>
<table class="table">
    <thead>
    <tr>
        <th class="text-center">Time</th>
        <th class="text-center">Match</th>
        <th class="text-center">Score</th>
    </tr>
    </thead>
    <tbody>
    {% for match in todayMatches %}
        <tr>
            <td class="text-center">{{ match.time }}</td>
            <td class="text-center">{{ match.awayTeam }} @ {{ match.homeTeam }}</td>
            <td class="text-center">{{ match.awayTeamPoints }} : {{ match.awayTeamPoints }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h2 class="text-center">Games (tomorrow)</h2>
<table class="table">
    <thead>
    <tr>
        <th class="text-center">Time</th>
        <th class="text-center">Match</th>
        <th class="text-center">Score</th>
    </tr>
    </thead>
    <tbody>
    {% for match in tommorowMatches %}
        <tr>
            <td class="text-center">{{ match.time }}</td>
            <td class="text-center">{{ match.awayTeam }} @ {{ match.homeTeam }}</td>
            <td class="text-center">{{ match.awayTeamPoints }} : {{ match.awayTeamPoints }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>